.main-form__input_theme_dark {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
}

.main-form__input_theme_dark:focus {
  border-bottom-color: #000;
}

.main-form__input_theme_light::placeholder {
  color: #000;
}
